<!DOCTYPE html>
<html class="theme-dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BLAST Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <style>
        /* Custom styles for the form container */
        .container {
            max-width: 200px; 
            margin: 50px auto;
            padding: 20px;
           
        }
        .title {
            text-align: center;
            margin-bottom: 30px;
        }
        .history-table {
            margin-top: 40px;
        }
       
        
        
    </style>
</head>
<body>
    <div th:replace="fragments/navbar :: body"></div>

    <div class="container">
        <h1 class="title">BLAST Search</h1>
        <form id="blastForm" action="/blast" method="post" onsubmit="showLoading()">
            <div class="field">
                <label class="label" for="sequence">Enter Sequence:</label>
                <div class="control">
                    <!-- Bulma input field -->
                    <input class="input is-dark is-primary" type="text" id="sequence" name="sequence" placeholder="e.g., NP_594959.1" required />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <!-- Submit button (replaced by loading button during BLAST) -->
                    <button id="submitButton" class="button is-dark is-primary" type="submit">Submit</button>
                    <!-- Loading button (hidden by default) -->
                    <button id="loadingButton" class="button is-primary is-dark is-loading" type="button" style="display: none;">Loading</button>
                    <span id="timer" class="timer" style="display: none;">Time since submission: <span id="timeElapsed">0</span>s</span>
                </div>
            </div>
        </form>


    </div>

    <script>
        // Function to show the loading button and hide the submit button
        function showLoading() {
            document.getElementById('submitButton').style.display = 'none'; // Hide submit button
            document.getElementById('loadingButton').style.display = 'inline-block'; // Show loading button
            document.getElementById('timer').style.display = 'inline-block';

            startTime = Date.now();
            timerInterval = setInterval(updateTimer, 1000);
            function updateTimer() {
                const currentTime = Date.now();
                const elapsedTime = Math.floor((currentTime - startTime) / 1000); // Convert to seconds
                document.getElementById('timeElapsed').textContent = elapsedTime;
            }
        }
    </script>
   
</body>
</html>